<h2><%= @employee.employee_name() %></h2>

<hr>

<% if @employee.projects().any?() %>
  <h3>Unfinished Project List:</h3>

  <ol>
    <% @unfinished_projects.each() do |unfinished_project| %>
      <li><%= unfinished_project.project_name() %> | <a href="/projects/<%= unfinished_project.id() %>">update</a></li>
    <% end %>
  </ol>

  <p>-----</p>

  <h3>Finished Project List:</h3>

  <ol>
    <% @finished_projects.each() do |finished_project| %>
      <li><%= finished_project.project_name() %> | <a href="/projects/<%= finished_project.id() %>">update</a></li>
    <% end %>
  </ol>

<%else %>
  <p>There are no projects yet!</p>
<% end %>

<hr>

<h3>Add a project:</h3>

<form action="/projects" method="post" class="form-entry">
  <input id="employee_id" name="employee_id" type="hidden" value="<%= @employee.id() %>">
  <label for="project_name"></label>
  <input id="project_name" name="project_name" type="text" placeholder="Project's Name">
  <button type="submit">Add a Project!</button>
</form>

<span class="return"><p><a href="/">Return to Full List of Divisions</a></p></span>
